* {
    font-family: verdana;
    }

body  {
    margin: auto;
    text-align: center;
    }

section {
    margin: auto;
    }

a:link {
    color: gray;
    text-decoration: none;
    }

a:hover {
    color: orange;
    text-decoration: none;
    }

a:visited {
    color: gray;
    text-decoration: none;
    }

a:visited:hover {
    color: orange;
    text-decoration: none;
    }

#navigation {
    text-align: center;
    font-size: 8pt;
    letter-spacing: .65px;
    margin: auto;
    }
