/* ALL below */
* {}/* comment */

body {
    font-family: verdana;
    text-align: center;
    font-size: 8pt;
    }

figcaption {
    font-size: 6pt;
    font-style: italic;
    color: gray;
    max-width: 250px;
    padding-top: 0px;
    line-height: 1.25;
    text-align: left;
    }

img {
    border-radius: 8px;
    }

nav {
    font-size: 8pt;
    letter-spacing: .65px;
    border: .75px dashed lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    background-color: WhiteSmoke;
    }

footer {
    letter-spacing: .35px;
    padding-top: 15px;
    padding-bottom: 15px;
    }

p {
    text-align: left;
    max-width: 110ch;
    line-height: 2;
    margin: auto;
    }

section {
    padding-top: 15px;
    padding-bottom: 15px;
    }

/* LINKS below */
a:link {
    color: gray;
    text-decoration: none;
    }

a:hover {
    color: lightgray;
    text-decoration: none;
    }

a:visited {
    color: gray;
    text-decoration: none;
    }

a:visited:hover {
    color: lightgray;
    text-decoration: none;
    }

/* class='s below (While an ID is specific to a single element, classes can be assigned to multiple elements on a page or throughout the website. They are not unique.)*/
.favicon {
    width: 25px;
    height: 25px;
    border: 0;
    }

.mark-chartreuse {
    background-color: chartreuse;
    }

.mark-cyan {
    background-color: cyan;
    }

.portfolio-1-thumb {
    width: 375px;
    height: 245px;
    /*Use ratio of 640px X 424px --- most of current portfolio thumbnail images set to 640px X 424px before height: 245px implemented 2:12 AM 4/28/2025*/
    object-fit: cover;
    }

.portfolio-1-thumbw {
    width: 375px;
    height: 245px;
    /*Use ratio of 640px X 424px --- most of current portfolio thumbnail images set to 640px X 424px before height: 245px implemented 2:12 AM 4/28/2025*/
    border-style: solid;
    border-width: thin;
    border-color: Gainsboro;
    object-fit: cover;
    }

.portfolio-cont {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px solid beige;
    }

.portfolio-cont a:hover {
    opacity: 0.4;
		}

.portfolio-1-desc {
    text-align: center;
    font-size: 8pt;
    color: black;
    padding-top: 4px;
    letter-spacing: .62px;
    line-height: 1;
		}

.portfolio-2-thumb {
    display: inline-block;
    width: 275px;
    height: 155px;
    object-fit: cover;
    }

.portfolio-2-thumbw {
    display: inline-block;
    width: 275px;
    height: 155px;
    border-style: solid;
    border-width: thin;
    border-color: Gainsboro;
    object-fit: cover;
    }

.portfolio-2-desc {
    text-align: center;
    font-size: 8pt;
    color: black;
    padding-top: 4px;
    letter-spacing: .62px;
    line-height: 1;
    }

.writing-1-thumb {
    display: inline-block;
    width: 175px;
    height: 110px;
    object-fit: cover;
    }

.writing-2-thumb {
    display: inline-block;
    width: 175px;
    height: 55px;
    object-fit: cover;
    }

.writing-2-thumbw {
    display: inline-block;
    width: 175px;
    height: 55px;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    /*border-radius: 0px; overrides "border-radius: 8px" in img{} above!!! */
    object-fit: cover;
    }

/* id='s below (While an ID is specific to a single element, classes can be assigned to multiple elements on a page or throughout the website. They are not unique.)*/

#table {
    border-spacing: 5px;
    line-height: 2;
    margin: auto;
    text-align: left;
    }

#portfolio-2-p {
    max-width: 110ch;
    line-height: 2;
    margin: auto;
    }

#coursedesc {
    max-width: 110ch;
    line-height: 2;
    margin: auto;
    font-style: italic;
    color: #D3D3D3;
    }
