.img {margin: 4px;
    	padding: 4px;
    	height: auto;
    	width: auto;
    	float: left;
    	margin-left: 50px;
    	margin-top: 50px;
    	text-align: center;
		}

.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #373a4e;
		}

.img a:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
		}

.description {
    text-align: center;
    font-style: italic;
    font-family: helvetica;
    font-size: 8pt;
    color: gray;
		}
